.DS_Store
target
.settings
*~
catalog-v*.xml
.classpath
.projecttmp.*
tmp.*

*.versionsBackup

.project
.pydevproject
bin

*.iml
.idea
temp.*

### Gradle template
.gradle
build/
gradle

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

